/* !!!!!!!! FONTS !!!!!!!!! */
/* font-family: 'Segoe UI'; */
/* font-family: 'DM Serif Display'; */
/* font-family: 'Denk One'; */

/* !!!!!!!! root !!!!!!!! */
:root{

    
}
/* !!!!!!! basic style !!!!!!! */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}